#webpage{
	color: rgba(0, 0, 0, 1.0);
	width: 80%;
	min-width: 200px;
	max-width: 960px;
	margin: 50px auto;
	text-align: center;
	outline: 2px dashed black;
	outline-offset: 2vw;
	background-color: rgba(178, 158, 194, 1.0);
	-webkit-text-stroke: 1px black;
	-webkit-text-size-adjust: auto;
}

#heading{
	font: normal small-caps normal 3.7rem/1.0 'Bungee Shade';
	color: rgba(143, 65, 0, 1.0);
	text-shadow: 0px 0px 15px white;
}

#bodyText{
	font: normal normal normal 0.9rem/1.0 Bungee;
	color: rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 3px white;
	-webkit-text-stroke: 0;
}

#todayDate{
	font: normal normal normal 2.2rem/1.0 'Bungee', Fantasy;
	color: rgba(25, 26, 22, 1.0);
	text-shadow: 0px 0px 7px white;
	-webkit-text-stroke: 0.1px white;
	margin-bottom: 0.5rem;
}

#clock{
	font: normal normal normal 2.8rem/1.0 'Bungee', Fantasy;
	/*color: rgba(62, 72, 0, 1.0);*/
	text-shadow: 0px 0px 7px white;
	-webkit-text-stroke: 0.1px white;
	margin: 0;
}

.eventTitle, .timeText{
	height: inherit;
	width: inherit;
	font: normal normal normal 1.7rem/0.0 Bungee;
	margin-top: 5rem;
	margin-bottom: 2rem;
	text-align: center;
}

div.Events{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	grid-template-rows: 1fr;
	grid-gap: 20px;
}

.imgs{
	height: 15rem;
	width: 21rem;
	transition: transform 1s;
	justify-items: center;
	object-fit: cover;
}

#eventImg3, #eventImg4{
	object-fit: contain;
}

.imgs:hover{
	transform: scale(1.03);
}

.timeText{
	font: normal small-caps normal 1.5rem/1.0 Bungee;
	color: rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 3px white;
	transition: transform 1s;
	margin-top: 1rem;
}


.clock {
  height: 20vh;
  color: white;
  font-size: 22vh;
  font-family: sans-serif;
  line-height: 20.4vh;
  display: flex;
  position: relative;
  /*background: green;*/
  overflow: hidden;
}